<mat-card class="card">
    <mat-card-header>
       <mat-card-title>Criação de Histórico</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formCreateHistory" (ngSubmit)="createHistory()">
    <mat-card-content>
        <br>
        <label>Localização: </label>
        <div>
                    <mat-form-field appearance="outline" class="input_region">
                        <mat-label>Região</mat-label>
                        <input formControlName="regiao" matInput placeholder="região">
                        <mat-icon matSuffix>add_location</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input_state">
                        <mat-label>Estado</mat-label>
                        <input matInput formControlName="estado" placeholder="estado">
                        <mat-icon matSuffix>add_location</mat-icon>
                    </mat-form-field>
                <mat-form-field appearance="outline" class="input_city">
                    <mat-label>Municipio</mat-label>
                    <input matInput formControlName="municipio" placeholder="">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field> 
        </div>
        <label>Estabelecimento: </label>
        <div>
            <mat-form-field appearance="outline" class="input_region">
                <mat-label>Código de Instalação</mat-label>
                <input matInput formControlName="codigo_instalacao" placeholder="codigo">
                <mat-icon matSuffix>https</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input_distributor">
                <mat-label>Revenda</mat-label>
                <input matInput formControlName="revenda" placeholder="distribuidor">
                <mat-icon matSuffix>house</mat-icon>
            </mat-form-field>
        </div>
        <label>Informações do Produto:</label>
        <div>
          <mat-form-field appearance="outline" class="input_region">
            <mat-label>Produto</mat-label>
            <input matInput formControlName="produto" placeholder="">
            <mat-icon matSuffix>favorite_border</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input_state">
            <mat-label>Unidade de Medida</mat-label>
            <input matInput formControlName="unidade_medida" placeholder="litro?">
            <mat-icon matSuffix>invert_colors_off</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" style="margin-left: 10px; width: 150px;">
            <mat-label>Valor da Compra</mat-label>
            <input matInput placeholder="" formControlName="valor_compra">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" style="margin-left: 10px ;width: 150px;">
            <mat-label>Valor da Venda</mat-label>
            <input matInput placeholder="" formControlName="valor_venda">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bandeira</mat-label>
            <input matInput placeholder="" formControlName="bandeira">
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>  
      <mat-card-actions>
        <button class="btn btn-success" type="submit" style="width: 100%;">Confirmar</button>
      </mat-card-actions>
      </form>
</mat-card>
  