<div class="scroll">
    <mat-toolbar>
        <span>Histórico</span>
        <span class="example-spacer"></span>
        <form [formGroup]="" (ngSubmit)="senderCsv()">
            <label for='selecao-arquivo'>Importar Arquivo CSV</label>
            <input accept=".csv" (change)="changeListener($event.target.files)" id='selecao-arquivo' formControlName="file" type='file'>
        </form>
        <button mat-button (click)="openDialog()" mat-raised-button #tooltip="matTooltip"
        matTooltip="Adicionar Histórico."
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="1000">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-toolbar>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>RECURSOS</b>
              <mat-icon>find_in_page</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                Quantidade de Páginas Encontradas : {{paginas}}
                <br/>
                Quantidade de Elementos Encontrados: {{elementos}}
              </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="formSenderParam" (ngSubmit)="senderSearchByParam()">
            <mat-form-field appearance="fill">
                <mat-label>Buscar</mat-label>
                <input formControlName="input" matInput>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
                <mat-label>Página</mat-label>
                <input formControlName="page" type="number" matInput>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
                <mat-label>Parametro de busca</mat-label>
                <mat-select formControlName="param">
                <mat-option value="Data de Coleta">Data de Coleta</mat-option>
                <mat-option value="Revenda">Revenda</mat-option>
                <mat-option value="Sigla">Sigla</mat-option>
                <mat-option value="Média Municipio">Média Municipio</mat-option>
                <mat-option value="Municipio">Municipio</mat-option>
                <mat-option value="Bandeira">Bandeira</mat-option>
                </mat-select>    
            </mat-form-field>
            
            <mat-form-field appearance="fill" style="margin-left: 2%;">
                <mat-label>Tipo de dado</mat-label>
                <mat-select formControlName="param_type">
                <mat-option value="csv">Csv</mat-option>
                <mat-option value="history">Historico</mat-option>
                </mat-select>    
            </mat-form-field>
            <button class="btn btn-success">Pesquisar</button>
        </form> 
        </mat-expansion-panel>
    </mat-accordion>
    <div class="table_scroll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table_scroll">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="bandeira">
                <mat-header-cell *matHeaderCellDef> Bandeira </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bandeira}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="codigo_instalacao">
                <mat-header-cell *matHeaderCellDef> Código de Instalação </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.codigo_instalacao}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="data_coleta">
                <mat-header-cell *matHeaderCellDef> Data de Coleta </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.data_coleta}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="municipio">
                <mat-header-cell *matHeaderCellDef> Municipio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.municipio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="produto">
                <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.produto}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="regiao">
                <mat-header-cell *matHeaderCellDef> Regiao </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.regiao}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="revenda">
                <mat-header-cell *matHeaderCellDef> Revenda </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.revenda}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="unidade_medida">
                <mat-header-cell *matHeaderCellDef> Unidade de Medida </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.unidade_medida}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor_compra">
                <mat-header-cell *matHeaderCellDef> Valor de Compra </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor_compra}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor_venda">
                <mat-header-cell *matHeaderCellDef> Valor de Venda </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor_venda}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                    <button class="btn btn-warning" (click)="updateHistory(element)">EDITAR</button>  
                    <button class="btn btn-danger"  (click)="deleteHistory(element)">REMOVER</button> 
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
    </div>    

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
