table {
    width: 100%;
    height: 50%;
    overflow: auto;
}
  
button {
    margin: 16px 8px;
}

.example-spacer {
    flex: 1 1 auto;
}

.table_scroll{
    overflow-x: auto;
    overflow-y: auto; 
}

input[type='file'] {
    display: none
  }
  
label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }

#embaixo{
    position: absolute;
    left: 5%;
    bottom: 20px;
    width: 90%;
 }