.card {
    width: 45vw;
    height: 41vw;
  }
  .input_region{
      width: 100px;
  }
  .input_state{
      margin-left: 10px;
      width: 100px;
  }
  .input_city{
      margin-left: 10px;
      width: auto;
  }
  .input_distributor{
      margin-left: 10px;
      width: 350px;
  }