<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-card class="card_dashboard">
        <img mat-card-avatar src="assets/images/admin.png" class="image_avatar">
        <mat-card-content class="card_content">
            <div>
              <h4>{{username}}<sup>admin</sup></h4>
            </div>
          </mat-card-content>
    </mat-card>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['usuarios']" >Gerenciar Usuários</a>
      <a mat-list-item [routerLink]="['historico']">Visualizar Históricos</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Painel Administrativo</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>

    <router-outlet></router-outlet>    
  </mat-sidenav-content>
</mat-sidenav-container>