<div fxLayoutAlign="center center">
    <div class="container">
        <mat-card class="customizarCard">
            
            <img mat-card-avatar src="assets/images/admin.png" class="image_avatar">
        
        <form [formGroup]="formUser" (ngSubmit)="authenticateUser()">
            <div class="divEntrar">
                <h1 class="labelEntrar">Realizar Login</h1>
            </div>
            <br>
            <fieldset >
                <div class="form-group ls-login-user">
                    <label for="userLogin">Usuário</label>
                    <input class="form-control ls-login-bg-user input-lg" formControlName="username" id="username" type="text" aria-label="Usuário" placeholder="Usuário">
                </div>
                <div class="form-group ls-login-password">
                    <label for="userPassword">Senha</label>
                    <input class="form-control ls-login-bg-password input-lg" formControlName="password" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
                </div>

                
                        <button style="width: 100%;" type="submit" class="btn btn-primary" (click)="actionButton()">Entrar</button>
                

                <p class="txt-center ls-login-signup">Novo por aqui?
                    <a href="/cadastro"> Cadastre-se!</a>
                   
                </p>
 
            </fieldset>
            
        </form>
    </mat-card>
    </div>
    
</div>