<div fxLayoutAlign="center center">
    <div class="container">
        <mat-card class="customizarCard">
            
        <form [formGroup]="formCreateUser" (ngSubmit)="createUser()">
            <div class="divEntrar">
                <h1 class="labelEntrar">Cadastre-se Aqui</h1>
            </div>
            <br>
            <fieldset >
                <div class="form-group ls-login-user">
                    <label for="userLogin">Nome:</label>
                    <input required class="form-control ls-login-bg-user input-lg" formControlName="name" id="name" type="text" placeholder="">
                </div>
                <div class="form-group ls-login-user">
                    <label for="userLogin">Sobrenome:</label>
                    <input required class="form-control ls-login-bg-user input-lg" formControlName="lastname" id="lastname" type="text"placeholder="">
                </div>
                <div class="form-group ls-login-user">
                    <label for="userLogin">Email:</label>
                    <input required class="form-control ls-login-bg-user input-lg" formControlName="email" id="email" type="email" placeholder="">
                </div>
                <div class="form-group ls-login-user">
                    <label for="userLogin">Usuário:</label>
                    <input class="form-control ls-login-bg-user input-lg" formControlName="username" id="username" type="text" aria-label="Usuário" placeholder="">
                </div>
                <div class="form-group ls-login-password">
                    <label for="userPassword">Senha:</label>
                    <input class="form-control ls-login-bg-password input-lg" formControlName="password" id="userPassword" type="password" aria-label="Senha" placeholder="">
                </div>
                <div class="form-group ls-login-password">
                    <label for="userPassword">Confirmação Senha:</label>
                    <input class="form-control ls-login-bg-password input-lg" formControlName="confirm_password" id="confirm_password" type="password" aria-label="Senha" placeholder="">
                </div>

                
                        <button style="width: 100%;" type="submit" class="btn btn-success">cadastrar</button>
            </fieldset>
            
        </form>
    </mat-card>
    </div>
</div>