.image_avatar{
    width: 8vw;
    height: 15vh;
}

.customizarCard{
    width: 50vw;
    background-color: whitesmoke;
}
.container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
}
.labelEntrar{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}
.divEntrar{
    display: flex; 
    align-items: center;
}